<div class="container">
  <h1 class="center-align article-header">Listing All Articles</h1>
  <% if logged_in? %>
    <div class="center-align article-index-new">
      <%= link_to "Create new article", new_article_path, class:"btn blue darken-2" %>
    </div>
  <% end %>
  <div class="center-align">
    <%= will_paginate @collection, renderer: MaterializeRenderer %>
  </div>
  <%= render 'article', obj: @articles %>
  <div class="center-align">
    <%= will_paginate @collection, renderer: MaterializeRenderer %>
  </div>
</div>
