<div class="container">
  <h2 class="center-align flow-text">Title: <%= @article.title %></h2>
  <div class="row">
    <div class="col s12 m10 offset-m1">
      <div class="card-panel blue lighten-5">
        <span class="flow-text"><%= simple_format(@article.description) %></span>
      </div>
    </div>
  </div>


  <%= link_to 'Edit this article', edit_article_path(@article) %> |
  <%= link_to 'Back to articles listing', articles_path %>
</div>
