<div class="container center-align">
  <h1>Welcome to <%= @user.username %>'s page</h1>
  <div>
    <div>
      <%= gravatar_for @user, size: 250 %>
    </div>
  </div>
  <h4 class="padding">Articles Posted</h4>
  <%= render 'articles/article', obj: @user_articles %>
  <div class="center-align">
    <%= will_paginate @user_articles, renderer: MaterializeRenderer %>
  </div>
</div>
