<div class="container center-align">
  <h1 class="center-align">Listing All Categories</h1>
  <%= will_paginate @collection, renderer: MaterializeRenderer %>
  <% @categories.each do |category| %>
    <ul>
      <div class="card">
        <div class="card-title">
          <li><%= link_to "#{category.name}", category_path(category) %></li>
          <li><%= pluralize(category.articles.count, "article") %></li>
        </div>
      </div>
    </ul>
  <% end %>
  <%= will_paginate @collection, renderer: MaterializeRenderer %>
</div>
