<div class="container center-align">
  <h1 class="center-align">Listing All Categories</h1>
  <%= will_paginate @collection, renderer: MaterializeRenderer %>
  <div class="row">
    <% @categories.each do |category| %>
      <div class="col s6 m4">
        <div class="card blue lighten-5">
          <div class="card-title padding">
            <h5><%= link_to "#{category.name}", category_path(category), class: "grey-text text-darken-4" %></h5>
            <h6 class="grey-text"><%= pluralize(category.articles.count, "article") %></h6>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <%= will_paginate @collection, renderer: MaterializeRenderer %>
</div>
