<div class="center-align row">
  <% flash.each do |key, value| %>
    <div class="<%= flash_class(key) %> card horizontal col s6 m4 offset-m4">
      <div class="card-stacked">
        <div class="card-content">
          <%= value %>
        </div>
      </div>
      <a href="#" data-dismiss="alert" class="close"><i class="material-icons white-text">clear</i></a>
    </div>
  <% end %>
</div>
